<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="CustomTimelineEra">
          <predicate>
            <include name="Content" database="master" path="/sitecore/content" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Custom Timeline Era" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Custom Timeline Era" />
            <include name="Templates" database="master" path="/sitecore/templates/Custom Timeline Era" />
          </predicate>

          <dataProviderConfiguration enableTransparentSync="true" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
