<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <journey>
            <processor type="CustomTimelineEra.Pipelines.Journey.PopulateCustomEraChanges, CustomTimelineEra"
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Contact.Journey.Processors.PopulateEraChanges, Sitecore.Cintel']" />
          </journey>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
