<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="CustomTimelineEra.ContactEmail" value="bruce.wayne@wayneenterprises.com" />
    </settings>
    
    <pipelines>
      <createVisit>
        <processor type="CustomTimelineEra.Pipelines.CreateVisit.IdentifyContact, CustomTimelineEra"
                   patch:before="processor[1]" />
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>
