<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <journey>
            <!-- By default only outcomes in the "Lead management funnel" outcome group are rendered on the timeline. -->
            <!-- This processor renders any outcomes on the timeline that have the custom "Show As Era" field checked, regardless of group. -->
            <processor type="CustomTimelineEras.Pipelines.Journey.PopulateCustomEraChanges, CustomTimelineEras"
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Contact.Journey.Processors.PopulateEraChanges, Sitecore.Cintel']" />

            <!-- All contacts display an anonymous era in the Experience Profile timeline labeled "Unknown Contact". -->
            <!-- This processor changes the label of the anonymous era from "Unknown Contact" to the value in the `<anonymousEraName />` element.  -->
            <!-- Note that this processor will do nothing if the `RemoveAnonymousEra` processor below is enabled and executes first. -->
            <processor type="CustomTimelineEras.Pipelines.Journey.RenameAnonymousEra, CustomTimelineEras"
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Contact.Journey.Processors.PopulateEraChanges, Sitecore.Cintel']">
              <anonymousEraName>Born</anonymousEraName>
            </processor>

            <!-- Set the `<enabled />` element to `true` to hide the "Unknown Contact" label of the anonymous era, but leave the icon. -->
            <!-- Set the `<showIcon />` element to `false` to hide the anonymous era's icon along with the "Unknown Contact" label. -->
            <!-- Note that this processor will do nothing if it executes after the `RenameAnonymousEra` processor. -->
            <processor type="CustomTimelineEras.Pipelines.Journey.RemoveAnonymousEra, CustomTimelineEras"
                       patch:after="processor[@type='Sitecore.Cintel.Reporting.Contact.Journey.Processors.PopulateEraChanges, Sitecore.Cintel']">
              <enabled>false</enabled>
              <showIcon>true</showIcon>
            </processor>
          </journey>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
