<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="CustomTimelineEras">
          <predicate>
            <include name="Content" database="master" path="/sitecore/content" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Custom Timeline Eras" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Custom Timeline Eras" />
            <include name="Media Items" database="master" path="/sitecore/media library/Custom Timeline Eras" />
            <include name="Superhero Outcome Group" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Outcome group/Superhero" />
            <include name="Outcome Definitions" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Custom Timeline Eras" />
            <include name="Show as Era Field" database="master" path="/sitecore/templates/System/Analytics/Outcome/Outcome Definition/Experience Profile Options" />
            <include name="Templates" database="master" path="/sitecore/templates/Custom Timeline Eras" />
          </predicate>

          <dataProviderConfiguration enableTransparentSync="true" />

          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
